<!DOCTYPE html>
<html xmlns:th="http://thyleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thypeleaf/layout">
<head>

<title>EventosApp</title>
</head>
<body>
	<h1>Criar uma cotação de açoes</h1>
	<form method="post">
		Nome:<input type="text" value="" name="nome" />
		Descricao da Acao :<input type="text" value="" name="descricao" />
		DaTa:<input type="text" value="" name="data" />
		Valor:<input type="text" value="" name="valor" />

		<button type="submit">Salvar</button>
	</form>
	<h1>Leia uma cotação de ações por id</h1>
	<form method="post">
		ID:<input type="text" value="" name="ID" />
	   <button type="submit">Buscar</button>
	</form>
	
	<h1>Leia todas as cotacoes de açoes</h1>
	<form method="post">
		DaTa:<input type="text" value="" name="data" />
		<button type="submit">Buscar</button>
	</form>
	
	
</body>
</html>